@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

:root {
    --red: #E5322C;
    --background: #efefef;
    --text: #7a7a7a;
}

header {
    font-family: "Teachers", monospace;
    background-color: var(--background);
    padding: 10px 0;
    box-shadow: 0px 0px 5px var(--text);
}

.logo {
    max-width: 100%;
    height: auto;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigation .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
}

.navigation .button {
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
    color: var(--text);
    text-align: center;
}

.navigation .line {
    margin-top: -10px;
    width: 0;
    height: 3px;
    background-color: var(--text);
    transition: 0.15s ease;
}

.button:hover + .line {
    width: 90%;
    background-color: var(--red);
}

.button:hover {
    color: #545454;
}

@media (max-width: 768px) {
    .navigation {
        flex-direction: column;
    }
    .navigation .block {
        margin: 5px 0;
    }
    iframe {
        max-width: 100%;
    }
}

footer {
    background-color: var(--background);
}

iframe {
    border-radius: 15px;
    margin: 10px 30px 10px 0px;
    transition: 0.3s ease-out;
}

footer:hover iframe {
    box-shadow: 0px 0px 8px var(--red);
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts {
    margin: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.corner {
    position: absolute;
    width: 50px;
    height: 50px;
    border-left: 3px solid var(--red);
    border-top: 3px solid var(--red);
    transition: 0.3s ease-out;
}

#corner1 {
    top: 10px;
    left: 5px;
}

#corner2 {
    bottom: 15px;
    right: 10px;
    transform: rotate(180deg);
}

footer:hover #corner1 {
    top: 0px;
    left: -5px;
}

footer:hover #corner2 {
    bottom: 5px;
    right: 0px;
}

.links{
    color: var(--text);
    transition: 0.15s;
}

.links:hover{
    color: #545454;
}

.red{
    color: var(--red);
}